<div class="container">

    <div class="jumbotron">
        <h2>Download Screenshot</h2>
        <form method="POST" action="/screenshot">
            <div class="form-group">
                <label for="url">URL to get screenshot:</label>
                <input name="url" type="text" class="form-control" id="url" aria-describedby="urlToGetScreenshot" placeholder="www.google.com">
                <small class="form-text text-muted">Download in .png format</small>
            </div>
            <button type="submit" class="btn btn-primary">Download</button>
        </form>
    </div>
</div>